<div class="page-header"><h1>Usuários</h1></div>

<table class="table table-condensed table-striped">
	  <thead>
      <tr>
          <th>Usuário</th>
          <th>Email</th>
          <th>Data de Registro</th>
      </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at.to_date.strftime('%d/%m/%Y') %></td>
    </tr>
  <% end %>
  </tbody>
</table>