<p>Olá <%= @resource.email %>!</p>

<p>Você solicitou o link para alterar sua senha: </p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não solicitou essa alteração, ignore esse email.</p>
<p>A sua senha não será alterada sem acessar o link.</p>
