<div class="page-header"><h1>Alterar Candidato</h1></div>

<%= render 'form_edit' %>

<%= link_to content_tag(:span, "Exibir"), @candidato %> |
<%= link_to content_tag(:span, "Voltar"), candidatos_path %>
